.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-product{
  border-top: 1px solid #000;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.App ul{
  margin: auto;
  list-style: none;
  width: 300px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 20px;
}
 .App ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  padding: 5px;

 }
 .App ul li span button{
  background-color: red;
  border: none;
  padding: 5px;
  color: white;
  width: 50px;
  border-radius: 5px;
 }
